@{
    ViewBag.Title = "Biblioteca Acadêmica Online - Recuperação do Código de Alunos";
    Layout = "~/Shared/_Layout.cshtml";
}

<article class="col-md-6 offset-3 telaCadastroAluno">
    <h3 class="tituloH3">Sistema de Biblioteca Online</h3>
    <h6 class="tituloH6">Recuperação de Código do Aluno</h6>
    <article>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" required="required" placeholder="Email do Aluno..." tabindex="1" alt="Email do Aluno" title="Email do Aluno" name="email" id="email" class="form-control" />
            <label for="codigo">Código</label>
            <input type="password" required="required" placeholder="Código do Aluno..." tabindex="5" alt="Código do Aluno" title="Código do Aluno" name="codigo" id="codigo" class="form-control" />
        </div>
        <div class="row">
            <div class="col-md-4">
                <button tabindex="10" alt="Entrar" id="btnEntrar" name="entrar" class="btn btn-success">Entrar</button>
            </div>
        </div>
    </article>
</article>