@{
    ViewBag.Title = "Biblioteca Acadêmica Online - Home";
    Layout = "~/Shared/_Layout.cshtml";
}

<section class="row telaHome">
    <article class="col-md-6 offset-4">
        <div class="form-group col-md-12">
            <input type="button" tabindex="1" alt="Aluno" id="aluno" name="aluno" class="btn btn-primary" value="Aluno" />
            <input type="button" tabindex="5" alt="Professor" id="professor" name="professor" class="btn btn-primary" value="Professor" />
            <input type="button" tabindex="10" alt="Atendente" id="atendente" name="atendente" class="btn btn-warning" value="Atendente" />
            <input type="button" tabindex="15" alt="Gerente" id="gerente" name="gerente" class="btn btn-danger" value="Gerente" />
        </div>
    </article>
</section>