@{
    ViewBag.Title = "Biblioteca Acadêmica Online - Atendentes";
    Layout = "~/Shared/_Home.cshtml";
}

<article class="col-md-6 offset-3 telaLogin">
    <h3 class="tituloH3">Sistema de Biblioteca Online</h3>
    <h6 class="tituloH6">Login de Atendentes</h6>
    <article>
        <form>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" required="required" placeholder="Email do Atendente..." tabindex="1" alt="Email do Atendente" title="Email do Atendente" name="email" id="email" class="form-control" />
                <label for="codigo">Código</label>
                <input type="password" required="required" placeholder="Código do Atendente..." tabindex="5" alt="Código do Atendente" title="Código do Atendente" name="codigo" id="codigo" class="form-control" />
            </div>
            <div class="row">
                <div class="col-md-5">
                    <input type="submit" tabindex="10" alt="Entrar" name="entrar" class="btn btn-success" value="Entrar" />
                </div>
                <div class="col-md-5">
                    <input type="submit" tabindex="15" alt="Solicitar Código ao Gerente" name="solicitarcodigo" class="btn btn-secondary" value="Solicitar Código ao Gerente" />
                </div>                
                <div class="col-md-2">
                    <input type="button" tabindex="25" alt="Voltar" name="voltar" id="voltar" class="btn btn-primary btn-group-sm" value="Voltar" />
                </div>
            </div>
        </form>
    </article>
</article>